<script lang="ts" setup>
// import { ref } from "vue";
import { useSolve1Store } from "@/stores/solve1";

const slove1Store = useSolve1Store();

// const currentImage = ["SMILE", "CUTE", "EXCITED", "PAIN", "SHOCKED", "ANGRY"];
const currentImage = ["Smile", "Cute", "Excited", "Pain", "Shocked", "Angry"];
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <div class="d-flex justify-space-around align-center bg-grey-lighten-4">
          <div class="ma-4">
            <img :src="slove1Store.img_src[slove1Store.currentSrc]" />
          </div>
        </div>
      </v-col>
      <v-col>
        <v-row>
          <v-col style="font-size: 5vh" class="d-flex justify-center">
            {{ currentImage[slove1Store.currentSrc] }}
          </v-col>
        </v-row>
        <v-item-group class="d-flex justify-center">
          <div class="ma-10">
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    :color="isSelected ? 'yellow' : 'white'"
                    @click="toggle((slove1Store.currentSrc = 5))"
                    class="text"
                    >ANGRY
                  </v-btn>
                </v-col>
              </v-row>
            </v-item>
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 1))"
                    :color="isSelected ? 'yellow' : 'white'"
                    class="text"
                    >CUTE</v-btn
                  >
                </v-col>
              </v-row>
            </v-item>
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 2))"
                    :color="isSelected ? 'yellow' : 'white'"
                    class="text"
                    >EXCITED</v-btn
                  >
                </v-col>
              </v-row>
            </v-item>
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 3))"
                    :color="isSelected ? 'yellow' : 'white'"
                    class="text"
                    >PAIN</v-btn
                  >
                </v-col>
              </v-row>
            </v-item>
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 4))"
                    :color="isSelected ? 'yellow' : 'white'"
                    class="text"
                    >SHOCKED</v-btn
                  >
                </v-col>
              </v-row>
            </v-item>
            <v-item v-slot="{ isSelected, toggle }">
              <v-row>
                <v-col>
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 0))"
                    :color="isSelected ? 'yellow' : 'yellow'"
                    v-if="slove1Store.currentSrc === 0"
                    class="text"
                    >SMILE</v-btn
                  >
                  <v-btn
                    @click="toggle((slove1Store.currentSrc = 0))"
                    :color="isSelected ? 'yellow' : 'white'"
                    v-else
                    class="text"
                    >SMILE</v-btn
                  >
                </v-col>
              </v-row>
            </v-item>
          </div>
        </v-item-group>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.text {
  width: 500px;
  height: 50px;
  color: black;
}

.yellow:focus {
  background-color: yellow;
}
</style>
