<script lang="ts" setup>
import { ref } from "vue";

class Product {
  id: number;
  name: string;
  price: number;
  constructor(id: number, name: string, price: number) {
    this.id = id;
    this.name = name;
    this.price = price;
  }
}

const productList = ref<Product[]>([]);

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

function doAdd(item: number) {
  const p = new Product(
    products.value[item].id,
    products.value[item].name,
    products.value[item].price
  );

  productList.value.push(p);
}

const sumTotalPrice = () => {
  let sum = 0;
  for (let i = 0; i < productList.value.length; i++) {
    sum += productList.value[i].price;
  }
  return sum;
};
</script>
<template>
  <!-- <div>
    {{ products }}
  </div> -->
  <v-row>
    <v-col cols="6">
      <v-container>
        <v-card
          class="overflow-y-auto"
          width="45vw"
          height="80vh"
          variant="flat"
        >
          <v-row>
            <v-col v-for="item of products" :key="item.id">
              <v-card width="200" variant="elevated">
                <v-card-item>
                  <div class="text-center">
                    <div class="text-h6 mb-2" style="font-weight: bold">
                      {{ item.name }}
                    </div>
                    <div class="text-h7">{{ item.price }}</div>
                    <v-card-actions class="justify-center">
                      <v-btn elevation="2" outline @click="doAdd(item.id)">
                        ADD
                      </v-btn>
                    </v-card-actions>
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-col>
    <v-col cols="6">
      <v-container>
        <v-card class="overflow-auto" width="45vw" height="70vh" variant="flat">
          <v-table height="60vh">
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
              <tr>
                <td
                  colspan="4"
                  class="text-center"
                  style="font-weight: bold"
                  v-if="productList.length === 0"
                >
                  NO Data
                </td>
              </tr>
            </thead>
            <tbody>
              <template v-for="item in productList" :key="item.id">
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              </template>
            </tbody>
          </v-table>
        </v-card>
        <div class="text-h3">Sum: {{ sumTotalPrice() }}</div>
      </v-container>
    </v-col>
  </v-row>
</template>
