<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          label="Plase input Number"
          v-model.number="num"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="n of num" :key="n" cols="1" md="1">
        <div class="d-flex justify-center">{{ n }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
