<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
import { ref } from "vue";

const counter = useCounterStore();

// let number = 0;

// const increment = () => {
//     counter.count++;
// };

// const decrement = () => {
//   counter.count--;
// };

function checkNum() {
  if (counter.count <= 0) {
    return true;
  }
  return false;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-row><div>First Component</div></v-row>
        <v-row
          ><div v-if="checkNum()">0</div>
          <div v-else>{{ counter.count }}</div></v-row
        >
        <v-row><br /></v-row>
        <v-row><v-btn @click="counter.increment">INCREMENT</v-btn></v-row>
      </v-col>
      <v-col>
        <v-row><div>Second Component</div></v-row>
        <v-row
          ><div v-if="checkNum()">0</div>
          <div v-else>{{ counter.doubleCount }}</div></v-row
        >
        <v-row><br /></v-row>
        <v-row
          ><v-btn @click="counter.decrement" v-if="!checkNum()">DECREASE</v-btn>
          <v-btn v-else>DECREASE</v-btn></v-row
        >
      </v-col>
    </v-row>
  </v-container>
</template>
